:root {
    --primary-color: black;
    --secondary-color: #fff;
    --font-family: 'Arial', sans-serif;
    --background-color: #f4f4f4;
    --button-hover-color: #444;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid black;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header .menu, .header .cart {
    display: flex;
    align-items: center;
}

.header .menu i, .header .cart i {
    font-size: 24px;
    margin-right: 10px;
}

.header .menu-content {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: var(--secondary-color);
    width: 100%;
    border: 1px solid black;
    z-index: 1;
}

.header .menu-content a {
    display: block;
    padding: 10px;
    border-bottom: 1px solid black;
    text-decoration: none;
    color: black;
}

.header .menu-content a:hover {
    background-color: #f0f0f0;
}

.header .menu-content.show {
    display: block;
    opacity: 1;
}

.carousel {
    border: 2px solid black;
    height: 300px;
    margin-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.carousel img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s ease-in-out;
}

.carousel img.hidden {
    opacity: 0;
}

.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-indicators button {
    background-color: #fff;
    border: 1px solid #333;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
}

.products {
    padding: 20px;
    align-items: center;
}

.category-filters {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
}

.category-filters button {
    background-color: black;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.category-filters button:hover {
    background-color: #555;
}

.product-list {
    display: flex;
    flex-wrap: nowrap; /* Prevent wrapping of items to the next line */
    overflow-x: auto; /* Allow horizontal scrolling */
    justify-content: center; /* Centering the items */
    gap: 20px; /* Spacing between product cards */
    padding-bottom: 40px;
    position: relative;
    z-index: 0;
}

.product-carousel-container {
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden; /* Prevent products from overflowing the container */
}

.product-carousel {
    display: flex;
    gap: 10px; /* Add space between products */
    overflow-x: auto;
    scroll-behavior: smooth; /* Smooth scrolling effect */
    scrollbar-width: none; /* Hide scrollbar (Firefox) */
}

.product-carousel::-webkit-scrollbar {
    display: none; /* Hide scrollbar (Chrome, Safari) */
}

.scroll-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-btn {
    left: 10px;
}

.right-btn {
    right: 10px;
}

.product-item {
    width: 250px;
    margin: 10px;
    text-align: center;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-shrink: 0; /* Prevent the item from shrinking */
    position: relative; /* Needed for z-index to work */
    z-index: 1; /* Lower than cart dropdown */
}

.product-item img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-item button {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

.product-item button:hover {
    background-color: var(--button-hover-color);
}

.product-item:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

.cart-container {
    position: relative; /* Establish a stacking context */
    z-index: 1000; /* Higher than product cards */
    display: inline-block;
}

.cart {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.cart:hover {
    background-color: #444;
}

.cart-dropdown {
    position: absolute;
    right: 20px;
    bottom: 80px;
    background-color: black;
    border: 1px solid #ddd;
    width: 250px;
    padding: 10px;
    display: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 9999; /* Higher z-index to ensure it's above other elements */
}

.cart-dropdown h3 {
    margin-top: 0;
}

.cart-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
}

.cart-dropdown ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

.cart-dropdown ul li:last-child {
    border-bottom: none;
}

.cart .cart-dropdown.show {
    display: block;
}

.cart-confirmation {
    position: fixed;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    z-index: 10;
}

.contact-form {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.contact-form h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.contact-form form input, .contact-form form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid black;
}

.contact-form form button {
    padding: 10px;
    border: none;
    background-color: black;
    color: white;
    cursor: pointer;
}

.footer {
    margin-top: 40px;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}
.menu-btn {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1000;
    padding: 10px 15px;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
}

.menu-sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #111;
    color: white;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    overflow-y: auto;
    transition: left 0.3s ease-in-out;
}

.menu-sidebar ul {
    list-style: none;
    padding: 20px;
    margin: 0;
}

.menu-sidebar li {
    margin: 20px 0;
}

.menu-sidebar a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
}

.close-btn {
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.navbar .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .logo a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}

.cart-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: black;
    color: white;
    border: none;
    font-size: 1.5rem;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
    border-radius: 5px;
    transition: opacity 0.3s ease-in-out;
}

.cart-sidebar {
    position: fixed;
    top: 0;
    right: -350px; /* Hide off the screen */
    width: 350px; /* The width of your cart */
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: right 0.3s ease-in-out;
    padding: 20px;
}

.cart-sidebar .cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.cart-sidebar #cart-total {
    font-weight: bold;
    text-align: center;
}
.clear-cart-btn {
    padding: 10px 20px;
    background-color: red; /* Use a color that stands out */
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.clear-cart-btn:hover {
    background-color: darkred; /* Darker shade on hover */
}
.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.product-item img {
    width: 100%;
    height: auto;
}

.product-item h4 {
    font-size: 1.2em;
    margin: 10px 0;
}

.product-item p {
    color: #555;
}

.add-to-cart {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #555;
}
.product-gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 100px 20px 20px; /* Adjust top padding for navbar */
}

/* General Container */
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

/* Top Banner */
.top-banner {
width: 100%;
margin-bottom: 20px;
text-align: center;
}

.top-banner img {
width: 100%;
height: auto;
}

/* Banners Container - Three Banners in a Row */
.banners-container {
display: flex;
justify-content: space-between;
padding: 20px;
box-sizing: border-box;
gap: 10px; /* Space between banners */
}


.banner {
width: 32%; 
position: relative;
overflow: hidden;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.banner a {
display: block;
width: 100%;
height: 100%;
text-decoration: none;
position: relative; 
}

.banner-text {
position: absolute;
bottom: 10px; 
left: 50%;
transform: translateX(-50%); 
color: white;
font-size: 24px;
font-weight: bold;
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
text-align: center;
background: rgba(0, 0, 0, 0.5);
padding: 5px 10px;
border-radius: 5px;
}

.banner:nth-child(1) {
background-image: url('path-to-your-steals-banner-image.jpg');
background-size: cover;
background-position: center;
height: 300px; 
}

.banner:nth-child(2) {
background-image: url('path-to-your-hastamuerte-banner-image.jpg');
background-size: cover;
background-position: center;
height: 300px;
}

.banner:nth-child(3) {
background-image: url('path-to-your-fall-collection-banner-image.jpg');
background-size: cover;
background-position: center;
height: 300px;
}

/* Responsive Layout */
@media (max-width: 768px) {
.banners-container {
    flex-direction: column;
    align-items: center;
}

.banner {
    width: 90%;
    margin-bottom: 10px;
}

.banner-text {
    font-size: 18px;
}
}

.banner:nth-child(1){
    background-image: url('1.webp');
    background-size: cover; 
    background-position: center;
    height: 800px;
}

.banner:nth-child(2){
background-image: url('2.webp');
background-size: cover;
background-position: center;
height: 800px;
}

.banner:nth-child(3) {
background-image: url('3.webp');
background-size: cover;
background-position: center;
height: 800px;
}

.alert-text{
    text-align: center;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.alert-text2{
    text-align: center;
    font-size: large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 400;
}